/* ===== IMPORTAR TIPOGRAFÍA BONITA ===== */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Poppins:wght@300;400;600&display=swap');

/* ===== ESTILO GENERAL ===== */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #3a0ca3, #4361ee, #240046);
  background-attachment: fixed;
  color: white;
}

/* ===== NAVBAR ===== */
.navbar {
  width: 100%;
  padding: 18px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.4);
  margin-bottom: 25px;
}

/* TITULO LINDO */
.navbar h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #8d6ce6;
  margin-bottom: 10px;
}

/* Barra de búsqueda */
.navbar input {
  padding: 10px 15px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 16px;
  width: 60%;
  max-width: 450px;
}

/*  CATEGORIAS  */

.contenedor-categorias {
  margin: 25px auto;
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-categoria {
  padding: 10px 18px;
  background: #4b2bb0;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.btn-categoria:hover {
  background: #6a47e0;
}

.btn-categoria.activa {
  background: #3b82f6;
}


/* GRID DE JUEGOS  */


.grid-juegos {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.tarjeta-juego {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.tarjeta-juego:hover {
  transform: scale(1.04);
}

.tarjeta-juego img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.tarjeta-juego h2 {
  font-size: 20px;
  margin: 8px 0;
}

.tarjeta-juego .categoria {
  opacity: 0.8;
  font-size: 14px;
}

.tarjeta-juego .descripcion {
  font-size: 14px;
  margin-top: 6px;
}